/*====== CSS Reset ======*/

*{
    box-sizing:border-box;
    margin: 0;
    padding: 0;
}

/*====== This style places an even space between all elements in the navigation bar ======*/

nav li, a, button
{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 500;
    font-size: 16px;
    color: whitesmoke;
    text-decoration: none;
    padding: 14px 16px;
    display: inline-block;
}

nav li, a{
    background-color: #222426;
}

header
{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    position: relative;
}

/*====== This section styles the elements in the naigation bar ======*/

#links
{
    list-style: none;
}


#links li
{
    padding: 10px 20px;
}

#links li a
{
    transition: all 0.3s ease 0;
}

#links li a:hover
{
    background-color: #cc3c04;
}


button
{
    padding: 9px 5px;
    border: none;
    border-radius: 5px;
    margin: 10px;
}

.logo
{
    margin-right: auto;
    margin-left: 30px;
    border-radius: 5px;
}

/*======= Hero Section =======*/

.hero-image
{
    background-image: url(/img/c837a6_b7002a8a7bb94d278a813dd452c93cba_mv2.jpeg);
    max-width: 100vw;
    max-height: 100vh;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    }

.hero-content
{
    position: relative;
}

.transform-txt{
    font-weight: bolder;
    font-size: 50px;
    padding-top: 3rem;
    margin-right: auto;
    margin-left: 30px;
    letter-spacing: 0.02em;
}

.gray-btn
{
    border-radius: 5px;
    border-style: solid;
    color: #7a8085;
    border: whitesmoke;
    padding: 15px;
    margin-right: auto;
    margin-left: 30px;
}
.gray-btn:hover{
    background-color: #cc3c04;
}

.transform-txt2
{
    font-size: 30px;
    margin-right: auto;
    margin-left: 30px;
    padding-top: 5rem;
}





